<template>
  <div id="geral">
    <div id="topo" class="bg-blue-700 p-3">
      <div id="menu-bar" class="bg-cyan-700 p-3 grid">
        <div
          id="menu-bar-esquerda"
          class="white-space-normal bg-cyan-500 col sm:col-5"
        >
          <ul
            class="
              flex
              align-items-end
              sm:justify-content-center
              lg:justify-content-start
              xl:justify-content-start
              flex-wrap
              list-none
              p-0
              m-0
              font-medium
              mb-3
            "
          >
            <li>
              <a
                class="
                  no-underline
                  text-white
                  px-2
                  align-items-center
                  justify-content-center
                  hover:text-cyan-700
                "
                href="#"
                >Application</a
              >
            </li>
            <li>
              <a
                class="
                  no-underline
                  text-white
                  px-2
                  align-items-center
                  justify-content-center
                "
                href="#"
                >Application</a
              >
            </li>
            <li>
              <a
                class="
                  no-underline
                  text-white
                  px-2
                  align-items-center
                  justify-content-center
                "
                href="#"
                >Application</a
              >
            </li>
            <li>
              <a
                class="
                  no-underline
                  text-white
                  px-2
                  p-sm-0
                  align-items-center
                  justify-content-center
                "
                href="#"
                >Application</a
              >
            </li>
          </ul>
        </div>
        <div
          id="menu-bar-direita"
          class="bg-orange-500 col hidden sm:inline-flex justify-content-end"
        >
          <ul
            class="
              flex flex-wrap
              list-none
              p-0
              m-0
              font-medium
              mb-3
              align-content-center
            "
          >
            <li>
              <a
                class="
                  no-underline
                  text-white
                  px-2
                  hover:text-cyan-700
                  align-items-center
                  justify-content-center
                "
                href="#"
                >Softagon</a
              >
            </li>
            <li>
              <a
                class="
                  no-underline
                  text-white
                  px-2
                  align-items-center
                  justify-content-center
                "
                href="#"
                >Softagon</a
              >
            </li>
            <li>
              <a
                class="
                  no-underline
                  text-white
                  px-2
                  align-items-center
                  justify-content-center
                "
                href="#"
                >Softagon</a
              >
            </li>
            <li>
              <a
                class="
                  no-underline
                  text-white
                  px-2
                  p-sm-0
                  align-items-center
                  justify-content-center
                "
                href="#"
                >Softagon</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup></script>

<style scoped></style>
